@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basic-color: #f6f0e9;
    --text-color: #474747;
    --secondary-text-color: #ff8800;
    --footer-background-color: #1b1613;
    --title-font: 'Open Sans', serif;
    --paragraph-font: 'Open Sans', sans-serif;
    /* scroll-behavior: smooth; */
}

.container {
    max-width: 1200px;
    margin: auto; 
}

.main-foto {
    background: url(../img/main-foto.webp);
    height: 80vh; 
    background-attachment: fixed;
    background-size: cover;
    box-shadow: var(--text-color);
}

.shadow-box {
    background-color: #f6f0e9;
}

.main-nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 20px 10px; */
}

.nav-link{
    list-style-type: none;
    margin: 10px 7px;
}

.color-link, .title-category{
    font-family: var(--title-font);
    font-weight: bold;
    color: #3f3e3e;  
}



.logo-img-text  {
    color: #3f3e3e;
    font-family: Rubik;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    
}

.logo-img-text-title {
    color: #c5af93;
    font-family: Alice;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    /* text-transform: uppercase; */
}

.small-icon {
    width: 70px;
    border-radius: 50%;
}

.title-category {
    padding-left: 20px;
}

.categorys-tc {
    background-color: var(--basic-color);
    height: 100vh;
}

.wrapper-tc {
    height: 90%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.shops-img {
    background: url(../img/shops.webp);
    height: 30vh;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}

.title-category-text {
    text-align: center;
    color: #fff;
    font-family: Rubik;
    font-weight: bold;
}