@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600&family=Rubik&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --basic-color: #f6f0e9;
  --text-color: #c5af93;
  --secondary-text-color: #ff8800;
  --footer-background-color: #1b1613;
  --title-font: "Open Sans", serif;
  --paragraph-font: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main-foto {
  background: url(../img/main-foto.webp);
  height: 50vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  text-align: center;
  font-family: var(--title-font);
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .main-foto {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .main-foto {
    height: 80vh;
  }
}

.shadow-box,
.categorys-tc,
.shops-info,
.heals-and-beauty-info,
.equipment-repair-workshops {
  background-color: var(--basic-color);
}

.categorys-tc {
  padding-bottom: 30px;
}

.main-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 20px 10px; */
}

.nav-link {
  list-style-type: none;
  margin: 10px 7px;
}

.icon-and-title-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-link,
.title-category {
  font-family: var(--title-font);
  font-weight: bold;
  color: #3f3e3e;
}

.logo-img-text {
  color: #3f3e3e;
  font-family: Rubik;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.logo-img-text-title {
  color: #ff3300;
  font-family: Alice;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.icon-and-title-category {
  margin: 20px 0;
}

.small-icon {
  width: 70px;
  border-radius: 50%;
  border-color: var(--text-color);
  border-style: solid;
  padding: 3px;
}

.title-category {
  position: relative;
  color: var(--text-color) !important;
  cursor: pointer;
  line-height: 1;
  text-decoration: none !important;
  margin-left: 20px;
}
.title-category:after {
  display: block;
  position: absolute;
  text-decoration: none;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #ada8a2;
  content: "";
  color: #3f3e3e !important;
  transition: width 0.3s ease-out;
}

.title-category:hover:after,
.title-category:focus:after {
  text-decoration: none;
  color: #3f3e3e !important;
  width: 100%;
}

.wrapper-tc {
  height: 90%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .wrapper-tc {
    grid-template-columns: 1fr 1fr;
  }
}

.inner-tc,
.repair-workshops-inner {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  margin: 10px;
  padding: 0 20px;
}
.shops-img,
.heals-and-beauty-img,
.repair-workshops-img {
  background: url(../img/shops.webp);
  height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-category-text {
  text-align: center;
  color: #fff;
  font-family: Rubik;
  font-weight: bold;
}

#carouselShops,
#carouselBeauty {
  padding: 30px 0;
}

.carousel-inner {
  margin-bottom: 20px;
}

.carousel-img-w {
  border-color: var(--text-color);
  border-style: solid;
  padding: 5px;
  height: 270px;
  margin-top: 15px;
}

.slide-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 80%;
  /* height: 80vh; */
  margin: auto;
}
.slide-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Open Sans", serif;
  font-size: 80%;
  color: #3f3e3e;
}

.slide-title-text,
.box-title-text {
  font-weight: bold;
  font-size: 150%;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .carousel-img-w {
    height: 60%;
  }
  .slide-box {
    display: flex;
    flex-direction: row;
    height: 50vh;
  }
  .slide-text-box {
    width: 50%;
    padding-right: 20px;
    text-align: start;
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  .carousel-img-w {
    height: 70%;
  }

  .slide-box {
    height: 60vh;
  }
}

.clock-img {
  width: 15px;
  margin-right: 10px;
}

.working-hours {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.carousel-ind-marg {
  margin-top: 20px;
}

/* .heals-and-beauty-img {
    background-image: url();
} */

.repair-workshops-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 80vw;
}

.repair-workshops-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repair-workshops-photo {
  width: 100%;
}

.workshop-text-box {
  padding: 10px;
}

.workshop-text-box-wrapper {
  padding: 10px 0;
}

@media (min-width: 768px) {
  .repair-workshops-inner {
    flex-direction: row;
  }
  .repair-workshops-photo {
    width: 50%;
  }
}
